@import "../../../themes/light/common";

.logo {
	display: block;
	margin: 0;
	padding: 0;
	overflow: hidden;

	a {
		cursor: pointer;
	}

	svg {
		display: block;
		width: auto;
		height: 100%;
	}
}
