@import '../../../themes/light/common';

.icon {
	display: inline-flex;
	height: 1em;
	width: auto;

	&__svg {
		height: 100%;
		width: auto;
	}

	&__ripple {
		width: 1px;
		height: 1px;
		@include position-absolute(0, 0);
		background: rgba(255, 255, 255, 0.2);
		transform-origin: 50% 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		animation: ripple-effect 0.8s cubic-bezier(ease-in-out-quad);
	}
}

@keyframes ripple-effect{
	0% {
		opacity: 1;
	}
	100%{
		transform: translate(-50%, -50%) scale(500, 500);
		opacity: 0;
	}
}
