/** ====================================================================================================================
// Style Mincer
// ================================================================================================================== */
/** ====================================================================================================================
// Variables - Global
// ================================================================================================================== */
/** ====================================================================================================================
// Layout
// ================================================================================================================== */
/** ====================================================================================================================
// Variables - Global
// ================================================================================================================== */
html {
  cursor: auto;
  cursor: initial; }

body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Montserrat", sans-serif, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.header {
  height: 5em; }

.sidebar {
  width: 5em; }

.main {
  position: relative;
  z-index: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: row; }

.section {
  height: 100vh; }

/** ====================================================================================================================
// Fonts
// ================================================================================================================== */
/** ====================================================================================================================
// Typography
// ================================================================================================================== */
/** ====================================================================================================================
// Variables - Global
// ================================================================================================================== */
body {
  font-family: "Montserrat", sans-serif, sans-serif;
  font-size: 16px;
  color: #333; }

h1, h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif, sans-serif;
  margin: 0;
  clear: both; }

h1 {
  font-size: 3em;
  margin-bottom: 0.33333em; }

h2 {
  font-size: 2.25em;
  margin-bottom: 0.44444em; }

h3 {
  font-size: 1.5em;
  margin-bottom: 0.66667em; }

h4, h5 {
  font-size: 1.25em;
  margin-bottom: 0.8em; }

p {
  margin: 0 0 0.5em 0;
  line-height: 1.5em; }
  p br {
    content: '';
    display: block;
    margin-bottom: 0.5em;
    clear: both; }
  p.intro {
    font-size: 1.25em;
    margin: 0 0 0.4em 0; }
    p.intro br {
      margin-bottom: 0.4em; }

button {
  font-size: 1em; }

/** ====================================================================================================================
// Variables - Global
// ================================================================================================================== */

/** ====================================================================================================================
// Variables - Global
// ================================================================================================================== */
.logo {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  .logo a {
    cursor: pointer; }
  .logo svg {
    display: block;
    width: auto;
    height: 100%; }

/** ====================================================================================================================
// Variables - Global
// ================================================================================================================== */
.nav-button {
  display: block;
  height: 3.75em;
  width: 3.75em;
  padding: 0;
  border: 0;
  cursor: pointer;
  background: transparent; }
  .nav-button:focus {
    outline: 0; }
  .nav-button__label {
    display: none; }
  .nav-button__bar {
    width: 1.875em;
    height: 0.25em;
    background-color: #111;
    border-radius: 0.125em;
    display: block;
    margin: 0.25em auto;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
  .nav-button--init .nav-button__bar {
    -webkit-animation: none !important;
            animation: none !important; }
  .nav-button--close .nav-button__bar:nth-child(1) {
    -webkit-animation: close-top-o 0.25s;
            animation: close-top-o 0.25s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1; }
  .nav-button--close .nav-button__bar:nth-child(2) {
    opacity: 1; }
  .nav-button--close .nav-button__bar:nth-child(3) {
    -webkit-animation: close-bottom-o 0.25s;
            animation: close-bottom-o 0.25s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
  .nav-button--close.nav-button--expanded .nav-button__bar {
    visibility: visible; }
    .nav-button--close.nav-button--expanded .nav-button__bar:nth-child(1) {
      -webkit-animation: close-top-x 0.25s;
              animation: close-top-x 0.25s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards; }
    .nav-button--close.nav-button--expanded .nav-button__bar:nth-child(2) {
      opacity: 0; }
    .nav-button--close.nav-button--expanded .nav-button__bar:nth-child(3) {
      -webkit-animation: close-bottom-x 0.25s;
              animation: close-bottom-x 0.25s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards; }
  .nav-button--arrow.nav-button--expanded .nav-button__bar:nth-child(1), .nav-button--expanded.nav-button--arrow-up .nav-button__bar:nth-child(1), .nav-button--expanded.nav-button--arrow-left .nav-button__bar:nth-child(1) {
    -webkit-transform: translateY(0.25em) translateX(0.25em) rotate(45deg) scaleX(0.5);
            transform: translateY(0.25em) translateX(0.25em) rotate(45deg) scaleX(0.5); }
  .nav-button--arrow.nav-button--expanded .nav-button__bar:nth-child(2), .nav-button--expanded.nav-button--arrow-up .nav-button__bar:nth-child(2), .nav-button--expanded.nav-button--arrow-left .nav-button__bar:nth-child(2) {
    -webkit-transform: translateY(0.0625em) rotate(90deg) scaleX(0.6);
            transform: translateY(0.0625em) rotate(90deg) scaleX(0.6); }
  .nav-button--arrow.nav-button--expanded .nav-button__bar:nth-child(3), .nav-button--expanded.nav-button--arrow-up .nav-button__bar:nth-child(3), .nav-button--expanded.nav-button--arrow-left .nav-button__bar:nth-child(3) {
    -webkit-transform: translateX(-0.25em) translateY(-0.75em) rotate(-45deg) scaleX(0.5);
            transform: translateX(-0.25em) translateY(-0.75em) rotate(-45deg) scaleX(0.5); }
  .nav-button--arrow-up.nav-button--expanded {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  .nav-button--arrow-down.nav-button--expanded .nav-button__bar:nth-child(1), .nav-button--expanded.nav-button--arrow-right .nav-button__bar:nth-child(1) {
    -webkit-transform: translateY(0.8125em) translateX(0.25em) rotate(-45deg) scaleX(0.5);
            transform: translateY(0.8125em) translateX(0.25em) rotate(-45deg) scaleX(0.5); }
  .nav-button--arrow-down.nav-button--expanded .nav-button__bar:nth-child(2), .nav-button--expanded.nav-button--arrow-right .nav-button__bar:nth-child(2) {
    -webkit-transform: translateY(0.0625em) rotate(90deg) scaleX(0.6);
            transform: translateY(0.0625em) rotate(90deg) scaleX(0.6); }
  .nav-button--arrow-down.nav-button--expanded .nav-button__bar:nth-child(3), .nav-button--expanded.nav-button--arrow-right .nav-button__bar:nth-child(3) {
    -webkit-transform: translateX(-0.25em) translateY(-0.1875em) rotate(45deg) scaleX(0.5);
            transform: translateX(-0.25em) translateY(-0.1875em) rotate(45deg) scaleX(0.5); }
  .nav-button--arrow-left.nav-button--expanded {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  .nav-button--arrow-right.nav-button--expanded {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }

@-webkit-keyframes close-top-o {
  0% {
    -webkit-transform: translateY(0.5em) rotate(45deg);
            transform: translateY(0.5em) rotate(45deg); }
  50% {
    -webkit-transform: translateY(0.5em) rotate(0);
            transform: translateY(0.5em) rotate(0); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes close-top-o {
  0% {
    -webkit-transform: translateY(0.5em) rotate(45deg);
            transform: translateY(0.5em) rotate(45deg); }
  50% {
    -webkit-transform: translateY(0.5em) rotate(0);
            transform: translateY(0.5em) rotate(0); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes close-top-x {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(0.5em);
            transform: translateY(0.5em); }
  100% {
    -webkit-transform: translateY(0.5em) rotate(45deg);
            transform: translateY(0.5em) rotate(45deg); } }

@keyframes close-top-x {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(0.5em);
            transform: translateY(0.5em); }
  100% {
    -webkit-transform: translateY(0.5em) rotate(45deg);
            transform: translateY(0.5em) rotate(45deg); } }

@-webkit-keyframes close-bottom-o {
  0% {
    -webkit-transform: translateY(-0.5em) rotate(-45deg);
            transform: translateY(-0.5em) rotate(-45deg); }
  50% {
    -webkit-transform: translateY(-0.5em) rotate(0);
            transform: translateY(-0.5em) rotate(0); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes close-bottom-o {
  0% {
    -webkit-transform: translateY(-0.5em) rotate(-45deg);
            transform: translateY(-0.5em) rotate(-45deg); }
  50% {
    -webkit-transform: translateY(-0.5em) rotate(0);
            transform: translateY(-0.5em) rotate(0); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes close-bottom-x {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-0.5em);
            transform: translateY(-0.5em); }
  100% {
    -webkit-transform: translateY(-0.5em) rotate(-45deg);
            transform: translateY(-0.5em) rotate(-45deg); } }

@keyframes close-bottom-x {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-0.5em);
            transform: translateY(-0.5em); }
  100% {
    -webkit-transform: translateY(-0.5em) rotate(-45deg);
            transform: translateY(-0.5em) rotate(-45deg); } }

/** ====================================================================================================================
// Variables - Global
// ================================================================================================================== */
.header {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin: 0;
  padding: 0 0.5em;
  height: 5em;
  background: #34495e; }
  .header__inner {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center; }
  .header__logo {
    width: 1.875em;
    height: 1.875em;
    margin: 0 0.625em;
    z-index: 2;
    -webkit-transition: -webkit-filter 0.25s ease-in-out;
    transition: -webkit-filter 0.25s ease-in-out;
    transition: filter 0.25s ease-in-out;
    transition: filter 0.25s ease-in-out, -webkit-filter 0.25s ease-in-out; }
  .header__nav {
    z-index: 1; }
  .header__nav-button {
    z-index: 2; }
    @media (min-width: 768px) {
      .header__nav-button {
        display: none; } }
  .header--full-width .header__inner {
    max-width: 100%; }
  .header--expanded .header__logo {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%); }
    .header--expanded .header__logo:hover {
      -webkit-filter: grayscale(0);
              filter: grayscale(0); }
  @media (pointer: fine) {
    .header--expanded .header__nav-button:hover .nav-button__bar {
      background-color: #ff7979; } }

/** ====================================================================================================================
// Variables - Global
// ================================================================================================================== */
.nav__item {
  border: none;
  background: transparent; }

.nav__link {
  font-family: "Raleway", sans-serif;
  color: #fff;
  border: none;
  background: transparent;
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer; }
  .nav__link:focus {
    outline: none; }
  .nav__link--placeholder {
    cursor: pointer; }

@media (max-width: 575px) {
  .nav {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    pointer-events: none; }
    .nav:before {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      height: 100%;
      width: 100%;
      background-color: #111;
      opacity: 0.8;
      -webkit-transition: opacity 0.25s ease-in-out;
      transition: opacity 0.25s ease-in-out; }
    .nav--expanded {
      opacity: 1;
      pointer-events: initial; }
    .nav__list {
      position: relative;
      z-index: 1; }
    .nav__item {
      width: auto;
      margin: 0 0 0.5em 0; }
    .nav__link {
      font-size: 2.25em;
      -webkit-transition: color 0.25s ease-in-out;
      transition: color 0.25s ease-in-out;
      width: auto;
      margin: 0 auto;
      padding: 0 0 0.33333em 0;
      position: relative; }
      .nav__link:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0.11111em;
        height: 4px;
        width: 100%;
        background-color: #ff7979;
        -webkit-transform: scaleY(1) scaleX(0);
                transform: scaleY(1) scaleX(0);
        -webkit-transition: 0.35s ease-in-out;
        transition: 0.35s ease-in-out; }
      .nav__link:hover {
        color: #ff7979; }
        .nav__link:hover:after {
          -webkit-transform: scaleY(1) scaleX(1);
                  transform: scaleY(1) scaleX(1); } }

@media (min-width: 576px) {
  .nav {
    position: relative; }
    .nav__list {
      display: flex;
      flex-direction: row; }
    .nav__item {
      margin: 0 0.5em;
      flex-direction: row; }
    .nav__link {
      font-size: 1em;
      padding: 0.5em; }
    .nav__line {
      position: absolute;
      display: block;
      height: 0.25em;
      width: 100px;
      background: #fff; } }

/** ====================================================================================================================
// Variables - Global
// ================================================================================================================== */
.nav-button {
  display: block;
  height: 3.75em;
  width: 3.75em;
  padding: 0;
  border: 0;
  cursor: pointer;
  background: transparent; }
  .nav-button:focus {
    outline: 0; }
  .nav-button__label {
    display: none; }
  .nav-button__bar {
    width: 1.875em;
    height: 0.25em;
    background-color: #111;
    border-radius: 0.125em;
    display: block;
    margin: 0.25em auto;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
  .nav-button--init .nav-button__bar {
    -webkit-animation: none !important;
            animation: none !important; }
  .nav-button--close .nav-button__bar:nth-child(1) {
    -webkit-animation: close-top-o 0.25s;
            animation: close-top-o 0.25s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1; }
  .nav-button--close .nav-button__bar:nth-child(2) {
    opacity: 1; }
  .nav-button--close .nav-button__bar:nth-child(3) {
    -webkit-animation: close-bottom-o 0.25s;
            animation: close-bottom-o 0.25s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
  .nav-button--close.nav-button--expanded .nav-button__bar {
    visibility: visible; }
    .nav-button--close.nav-button--expanded .nav-button__bar:nth-child(1) {
      -webkit-animation: close-top-x 0.25s;
              animation: close-top-x 0.25s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards; }
    .nav-button--close.nav-button--expanded .nav-button__bar:nth-child(2) {
      opacity: 0; }
    .nav-button--close.nav-button--expanded .nav-button__bar:nth-child(3) {
      -webkit-animation: close-bottom-x 0.25s;
              animation: close-bottom-x 0.25s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards; }
  .nav-button--arrow.nav-button--expanded .nav-button__bar:nth-child(1), .nav-button--expanded.nav-button--arrow-up .nav-button__bar:nth-child(1), .nav-button--expanded.nav-button--arrow-left .nav-button__bar:nth-child(1) {
    -webkit-transform: translateY(0.25em) translateX(0.25em) rotate(45deg) scaleX(0.5);
            transform: translateY(0.25em) translateX(0.25em) rotate(45deg) scaleX(0.5); }
  .nav-button--arrow.nav-button--expanded .nav-button__bar:nth-child(2), .nav-button--expanded.nav-button--arrow-up .nav-button__bar:nth-child(2), .nav-button--expanded.nav-button--arrow-left .nav-button__bar:nth-child(2) {
    -webkit-transform: translateY(0.0625em) rotate(90deg) scaleX(0.6);
            transform: translateY(0.0625em) rotate(90deg) scaleX(0.6); }
  .nav-button--arrow.nav-button--expanded .nav-button__bar:nth-child(3), .nav-button--expanded.nav-button--arrow-up .nav-button__bar:nth-child(3), .nav-button--expanded.nav-button--arrow-left .nav-button__bar:nth-child(3) {
    -webkit-transform: translateX(-0.25em) translateY(-0.75em) rotate(-45deg) scaleX(0.5);
            transform: translateX(-0.25em) translateY(-0.75em) rotate(-45deg) scaleX(0.5); }
  .nav-button--arrow-up.nav-button--expanded {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  .nav-button--arrow-down.nav-button--expanded .nav-button__bar:nth-child(1), .nav-button--expanded.nav-button--arrow-right .nav-button__bar:nth-child(1) {
    -webkit-transform: translateY(0.8125em) translateX(0.25em) rotate(-45deg) scaleX(0.5);
            transform: translateY(0.8125em) translateX(0.25em) rotate(-45deg) scaleX(0.5); }
  .nav-button--arrow-down.nav-button--expanded .nav-button__bar:nth-child(2), .nav-button--expanded.nav-button--arrow-right .nav-button__bar:nth-child(2) {
    -webkit-transform: translateY(0.0625em) rotate(90deg) scaleX(0.6);
            transform: translateY(0.0625em) rotate(90deg) scaleX(0.6); }
  .nav-button--arrow-down.nav-button--expanded .nav-button__bar:nth-child(3), .nav-button--expanded.nav-button--arrow-right .nav-button__bar:nth-child(3) {
    -webkit-transform: translateX(-0.25em) translateY(-0.1875em) rotate(45deg) scaleX(0.5);
            transform: translateX(-0.25em) translateY(-0.1875em) rotate(45deg) scaleX(0.5); }
  .nav-button--arrow-left.nav-button--expanded {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  .nav-button--arrow-right.nav-button--expanded {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }

@-webkit-keyframes close-top-o {
  0% {
    -webkit-transform: translateY(0.5em) rotate(45deg);
            transform: translateY(0.5em) rotate(45deg); }
  50% {
    -webkit-transform: translateY(0.5em) rotate(0);
            transform: translateY(0.5em) rotate(0); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes close-top-o {
  0% {
    -webkit-transform: translateY(0.5em) rotate(45deg);
            transform: translateY(0.5em) rotate(45deg); }
  50% {
    -webkit-transform: translateY(0.5em) rotate(0);
            transform: translateY(0.5em) rotate(0); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes close-top-x {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(0.5em);
            transform: translateY(0.5em); }
  100% {
    -webkit-transform: translateY(0.5em) rotate(45deg);
            transform: translateY(0.5em) rotate(45deg); } }

@keyframes close-top-x {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(0.5em);
            transform: translateY(0.5em); }
  100% {
    -webkit-transform: translateY(0.5em) rotate(45deg);
            transform: translateY(0.5em) rotate(45deg); } }

@-webkit-keyframes close-bottom-o {
  0% {
    -webkit-transform: translateY(-0.5em) rotate(-45deg);
            transform: translateY(-0.5em) rotate(-45deg); }
  50% {
    -webkit-transform: translateY(-0.5em) rotate(0);
            transform: translateY(-0.5em) rotate(0); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes close-bottom-o {
  0% {
    -webkit-transform: translateY(-0.5em) rotate(-45deg);
            transform: translateY(-0.5em) rotate(-45deg); }
  50% {
    -webkit-transform: translateY(-0.5em) rotate(0);
            transform: translateY(-0.5em) rotate(0); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes close-bottom-x {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-0.5em);
            transform: translateY(-0.5em); }
  100% {
    -webkit-transform: translateY(-0.5em) rotate(-45deg);
            transform: translateY(-0.5em) rotate(-45deg); } }

@keyframes close-bottom-x {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-0.5em);
            transform: translateY(-0.5em); }
  100% {
    -webkit-transform: translateY(-0.5em) rotate(-45deg);
            transform: translateY(-0.5em) rotate(-45deg); } }


/*# sourceMappingURL=main.css.map*/