// =====================================================================================================================
// Em / Rem
// =====================================================================================================================

@function em($pixels, $context: $base-font-size) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}

	@if (unitless($context)) {
		$context: $context * 1px;
	}

	@return $pixels / $context * 1em;
}

@function rem($pixels) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}

	@if (unitless($base-font-size)) {
		$context: $base-font-size * 1px;
	}

	@return $pixels / $base-font-size * 1rem;
}
