@import '../../../themes/v1/scss/common';

.story {
	h1 {
		width: auto;
		font-size: em(32);
		margin-right: auto;
		margin-bottom: em(24, 32);
		display: inline-block;
		border-bottom: 3px solid $secondary;
		padding-bottom: em(2);
	}

	br {
		content: '';
		display: block;
		width: 100%;
		margin-bottom: rem(12);
	}

	&__inner {
		padding: em(24) em(32);
	}

	&__content {
		max-width: em(640);
		margin: 0 auto em(24) 0;
	}

	&__demo {
		background: $grey-pale;
		border-radius: em(4);
		padding: em(24) em(16);

		&--rows {
			display: flex;
			flex-direction: row;
			flex-flow: row wrap;

			.story__item {
				margin: 0 em(16) em(16);
				display: flex;
				flex-direction: column-reverse;

				> *:not(.story__item-label) {
					margin: 0 1rem;
				}

				//.hamburegr

				&-label {
					font-weight: 600;
					color: $green;
					display: block;
					text-align: center;
				}
			}
		}
	}

	&__item {
		&-label {
			font-family: $font-text;
			font-size: em(12);
		}
	}
}
