// =====================================================================================================================
// Utilities
// =====================================================================================================================

@mixin clearfix() {
	&:after {
		content: ' ';
		display: table;
		clear: both;
	}
}

@mixin position($top, $right: $top, $bottom: $top, $left: $right) {
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin position-absolute($top, $right: $top, $bottom: $top, $left: $right) {
	position: absolute;
	@include position($top, $right, $bottom, $left);
}

@mixin fixed($top, $right: $top, $bottom: $top, $left: $right) {
	position: fixed;
	@include position($top, $right, $bottom, $left);
}
