@import '../../../themes/v1/scss/common';

.header {
	font-family: $font-text;
	width: 100%;
	margin: 0;
	padding: 0 em(8);
	height: em($header-height-m);
	background: $primary;

	&__inner {
		height: 100%;
		max-width: $page-max-width;
		margin: 0 auto;
		display: flex;
		align-items: center;
	}

	&__logo {
		width: em(28);
		height: em(28);
		margin: 0 em(10);
		z-index: 2;
		transition: filter 0.25s ease-in-out;
	}

	&__nav {
		z-index: 1;
	}

	// Modifiers
	&--full-width {
		.header__inner {
			max-width: 100%;
		}
	}

	&--expanded {

		.header__logo {
			filter: grayscale(100%);
			&:hover {
				filter: grayscale(0);
			}
		}
	}
}

// Hamburger
.header {
	&__hamburger {
		z-index: 2;
		@include media-breakpoint-up(md) {
			display: none;
		}
	}

	&--expanded {
		.header__hamburger {
			@include media-breakpoint-down(sm) {
				&:hover {
					.hamburger__bar {
						background-color: $tertiary;
					}
				}
			}
		}
	}
}
