@import '../../../themes/v1/scss/common';

$nav-button-size: 60px;
$nav-button-timing: 0.25s;
$nav-button-color: $black;

.nav-button {
	display: block;
	height: em($nav-button-size);
	width: em($nav-button-size);
	padding: 0;
	border: 0;
	cursor: pointer;
	background: transparent;
	z-index: 3;
	@include media-breakpoint-up(tablet) {
		display: none;
	}

	&:focus {
		outline: 0;
	}

	&__label {
		display: none;
	}

	&__bar {
		width: em(30);
		height: em($nav-button-size / 15);
		background-color: $nav-button-color;
		border-radius: em(2);
		display: block;
		margin: em(4) auto;
		transition: all $nav-button-timing ease-in-out;
	}

	&--init {
		.nav-button__bar {
			animation: none !important;
		}
	}

	&--close {
		.nav-button__bar {
			&:nth-child(1) {
				animation: close-top-o $nav-button-timing;
				animation-fill-mode: forwards;
				animation-iteration-count: 1;
			}

			&:nth-child(2) {
				opacity: 1;
			}

			&:nth-child(3) {
				animation: close-bottom-o $nav-button-timing;
				animation-fill-mode: forwards;
			}
		}

		&.nav-button--expanded {
			.nav-button__bar {
				visibility: visible;

				&:nth-child(1) {
					animation: close-top-x $nav-button-timing;
					animation-fill-mode: forwards;
				}

				&:nth-child(2) {
					opacity: 0;
				}

				&:nth-child(3) {
					animation: close-bottom-x $nav-button-timing;
					animation-fill-mode: forwards;
				}
			}
		}
	}

	&--arrow {
		&.nav-button--expanded {
			.nav-button__bar {
				&:nth-child(1) {
					transform: translateY(em(4)) translateX(em(4)) rotate(45deg) scaleX(0.5);
				}

				&:nth-child(2) {
					transform: translateY(em(1)) rotate(90deg) scaleX(0.6);
				}

				&:nth-child(3) {
					transform: translateX(em(-4)) translateY(em(-12)) rotate(-45deg) scaleX(0.5);
				}
			}
		}

		&-up {
			@extend .nav-button--arrow;
			&.nav-button--expanded {
				transform: rotate(0);
			}
		}

		&-down {
			&.nav-button--expanded {
				.nav-button__bar {
					&:nth-child(1) {
						transform: translateY(em(13)) translateX(em(4)) rotate(-45deg) scaleX(0.5);
					}

					&:nth-child(2) {
						transform: translateY(em(1)) rotate(90deg) scaleX(0.6);
					}

					&:nth-child(3) {
						transform: translateX(em(-4)) translateY(em(-3)) rotate(45deg) scaleX(0.5);
					}
				}
			}
		}

		&-left {
			@extend .nav-button--arrow;
			&.nav-button--expanded {
				transform: rotate(-90deg);
			}
		}

		&-right {
			@extend .nav-button--arrow-down;
			&.nav-button--expanded {
				transform: rotate(-90deg);
			}
		}
	}
}

@keyframes close-top-o {
	0% {
		transform: translateY(em(8)) rotate(45deg);
	}
	50% {
		transform: translateY(em(8)) rotate(0);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes close-top-x {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(em(8));
	}
	100% {
		transform: translateY(em(8)) rotate(45deg);
	}
}

@keyframes close-bottom-o {
	0% {
		transform: translateY(em(-8)) rotate(-45deg);
	}
	50% {
		transform: translateY(em(-8)) rotate(0);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes close-bottom-x {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(em(-8));
	}
	100% {
		transform: translateY(em(-8)) rotate(-45deg);
	}
}
