@import '../../../themes/v1/scss/common';
@import './checkbox-mixins';

.checkbox {
	//color: $white;
	//background: $grey;
	//font-size: em(14);
	//font-family: $font-heading;
	//margin: 0;
	//padding: em(16) em(20);
	//border: none;
	//cursor: pointer;
	//outline: none;
	//transition: 0.25s ease-in-out;
	//position: relative;
	//overflow: hidden;
	//border-radius: em(4);
	//
	//&__ripple {
	//	width: 1px;
	//	height: 1px;
	//	@include absolute(0, 0);
	//	background: rgba(255, 255, 255, 0.2);
	//	transform-origin: 50% 50%;
	//	transform: translate(-50%, -50%);
	//	border-radius: 50%;
	//	animation: ripple-effect 1s cubic-bezier(ease-in-out-quad);
	//	z-index: 2;
	//}

	// SIZES
	&--sm {
		font-size: em(14);
		padding: em(12) em(20);
	}
	&--md {
		font-size: em(14);
	}
	&--lg {
		font-size: em(16);
		padding: em(16) em(20);
	}

	// COLOURS - Creates standard, outline and text buttons
	&--primary {
		@include create-button($primary, $white);
	}
	&--secondary {
		@include create-button($secondary, $white);
	}
	&--tertiary {
		@include create-button($tertiary, $white, 12%);
	}
}

@keyframes ripple-effect {
	0% {
		opacity: 1;
	}
	100% {
		transform: translate(-50%, -50%) scale(500, 500);
		opacity: 0;
	}
}
